body{
    background-color: black;
    margin: 0;
    color: var(--Blanc, rgba(255, 255, 255, 1));
    background-image: url(../images/background\ bloom\ original.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    max-width: 1136px;
    width: calc(100% - 20vw); /* marges dynamiques ≈10% de chaque côté */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

main > div {
    padding-top : 128px;
}

a {
    transition: all 0.2 ease; 
    text-decoration: none;
}

a:hover, a:focus, a:active, button:hover, button:focus, button:active{
    text-decoration: underline;
}

a, button {
    cursor: pointer;
    color: white;
}

.text {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: 'Regular';
    font-size: 1.125rem;
    letter-spacing: 0%;
    line-height: normal;
    display: flex;
    align-items: center;  
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;       /* 32px */
    line-height: normal;    /* laisse le navigateur gérer l’interligne */
    display: flex;
    align-items: center;    /* centre verticalement */
    letter-spacing: 0%;
}

.title2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 1.5rem;       /* 32px */
    line-height: normal;    /* laisse le navigateur gérer l’interligne */
    display: flex;
    align-items: center;    /* centre verticalement */
    letter-spacing: 0%;
}

.little-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: 'Regular';
    font-size: 18px;
    letter-spacing: 0%;
    line-height: normal;
    display: flex;
    align-items: center; 
}

#presentation {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

#title-presentation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#details-presentation {
    display: flex;
    gap: 10%;
}

#brief {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#galerie-with-button {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

#galerie {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#zone-draw {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#zone-images {
    display: flex;
    gap: 2%;
}

#zone-images div {
    width: 49%;
}

#zone-images div img {
    width: 100%;
}

#projets-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#projets-button button {
    width: 203px;
    height: 45px;
    opacity: 1;
    border-radius: 30px;
    border-width: 2px;
    padding-top: 9.5px;
    padding-right: 17px;
    padding-bottom: 9.5px;
    padding-left: 17px;
    background: linear-gradient(127.78deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 29.81%, rgba(255, 255, 255, 0) 39.9%, rgba(255, 255, 255, 0.3) 100%);
    border: 2px solid var(--Contour-bouton, rgba(255, 255, 255, 0.3));
    color: white;
}